/* Genel Stil */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 50px auto;
	overflow: hidden;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
	color: #333;
	text-align: center;
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

.table th, .table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
	border-top: 2px solid #dee2e6;
}

.table .table {
	background-color: #fff;
}

.modal-body {
	overflow-y: auto;
	max-height: 400px;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-header .close {
	margin: -1rem -1rem -1rem auto;
}
